* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #22223A;
}
/* NAVBAR*/
.navbar {
    background-color: #3b3b3b;
    display: flex;
}
.navbar h1 {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    padding-top: 2%;
    flex-grow: 5;
   
}
.navbar ul {
    display: flex;
}
.navbar ul a {
    text-decoration: none;
    color:rgb(142, 206, 248);
    padding: 25px;
    font-size: 25px;
}
.navbar a:hover {
    background: rgb(255, 255, 255);
   
    
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
section ul {
    display: block;
}

section h3 {
    font-size: 40px;
}
.exp {
    color:black;
    font-size: 20px;
}



/* IMG Container and presentation*/


.container-fluid {
    width: 100%;
    display: flex;
}
img {
    /*-webkit-box-shadow: 10px 10px 26px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 8px rgba(0,0,0,0.75);
    background-color: black;*/
    height: 100%;
    margin: 2vh;
    

}
 img {
    width: 40vh;
}

#present {
    text-align: center;
    padding:5vh;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#present h3 {
    font-size: 50px;
}



/* FOOTER */

#footer {
    background-color: #22223A;
    color:#D56C2C;
    text-align: center;
}
.git {
    color: rgb(146, 148, 255);
    
    
}
/*.git:after .mail::after {
    color: rgb(255, 255, 255);
}*/
.mail{
    color: rgb(97, 235, 63);
}
.contact  {
    color: #cf6969;
}
.linkd {
    color: rgb(247, 244, 74);
}

.footer {
    background-color:rgb(54, 54, 54);
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
   
}
li i{
    justify-content: space-between;
    font-size: 280%;

    margin: 20px;
}



@media screen and (max-width: 1000px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .navbar a:hover {
        background: none;
       
        
    }

    img {
      margin: 25px;
    }

  }


  @media screen and (max-width: 540px) {
    .navbar {
        flex-direction: column;
        width: 100%;
    }
    .navbar ul {
        flex-direction: column;
    }


  }


